name: Test Renovate Flow

on:
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run Renovate
        uses: renovatebot/github-action@v46.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: renovate.json
          renovate-args: --autodiscover=true --autodiscover-filter=${{ github.repository }}
