---
import { Badge } from "@astrojs/starlight/components";

const { title, experimental } = Astro.locals.starlightRoute.entry.data;
---

<h1 id="_top">
  {title}
  {experimental && <Badge text="Experimental" type="caution" />}
</h1>

<style>
  h1 {
    color: var(--sl-color-white);
    font-size: var(--sl-text-h1);
    font-weight: 600;
    line-height: var(--sl-line-height-headings);
    margin-bottom: 1rem;
  }
</style>
