:root {
  --sl-color-text-accent: #1ccabf;
}

li details ul li .group-label span { font-size: 14px; text-transform: capitalize; }
li details ul li details summary { padding-top: 8px; padding-bottom: 8px; }

.sl-markdown-content table td code { white-space: nowrap; }

/* This is the caption that explains the code block, defined when you add "---" to the end of the code block.

Example:
---
This code sample does the following...
---

*/
figcaption:not(.header) {
  background-color: var(--ec-caption-bg) !important;
  color: var(--ec-caption-text) !important;
  padding: 0rem 1rem 0.5rem 1rem !important;
}

.output {
  background-color: var(--ec-caption-bg) !important;
}
